@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 6px;
    margin-right: 8px;
    border: 0.1rem solid #6b7280;
    border-radius: 2px;
    width: 14px;
    height: 14px;
}
input[type="checkbox"]:hover {
    border: 0.1rem solid #1e1e1e;
}
.dark input[type="checkbox"]:hover {
    border: 0.1rem solid #d4d4d4;
}

input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 16px;
    clip-path: polygon(28% 38%, 41% 53%, 85% 14%, 96% 28%, 40% 78%, 15% 50%);
    transform: scale(0);
    background-color: #6b7280;
}
input[type="checkbox"]:hover::before {
    background-color: #1e1e1e;
}
.dark input[type="checkbox"]:hover::before {
    background-color: #d4d4d4;
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/* TODO: replace this hack with https://microsoft.github.io/monaco-editor/typedoc/interfaces/editor.EditorLayoutInfo.html#contentLeft */
.monaco-editor-background {
    padding-left: 50px;
}
.monaco-scrollable-element[data-mprt="5"] {
    width: 750px !important;
}
.overflow-guard {
    width: 800px !important;
}
